<html>
<head>
<title>{{ titulo }}</title>
<link type="text/css" rel="stylesheet" href="/static/css/main.css"></link>
<link rel="stylesheet" href="{{ config.theme }}" type="text/css" />
<script type="text/javascript"
	src="https://www.google.com/jsapi?key=ABQIAAAAHgOg6huaKJAv9G24UHf1KBT-_2ssS9ZvfOvr1Ca1c9UJDHLkmhQMLz6VvDl-zLZ9USIlHGHxy3IcGg"></script>
<script type="text/javascript">
	google.load("jquery", "1.6.4");
	google.load("jqueryui", "1.8.16");
</script>
<script type="text/javascript" src="/static/js/funciones.js"></script>
<script type="text/javascript" src="/static/js/clases/cliente.js"></script>
<script type="text/javascript">
	var c = 0;
	var t;
	var timer_is_on = 0;

	function consulta() {
		$.getJSON("/nucleo/admin/clientes/cons", function(data) {
			if (data != null) {
				$.each(data, function(key, val) {
					if ($("#col1_" + key).length == 0) {
						if ($("#col1_" + (key - 1)).length == 0) {
							newobject($("#trnuevo"), 'D', val);
						} else {
							newobject($("#col1_" + (key - 1)).parent("tr"),
									'D', val);
						}
					}
				});
			}
		});
		t = setTimeout("consulta()", 10000);
	}

	$(document)
			.ready(
					function() {
						$(".nuevo").click(function() {
							if ($("#idudp").length == 0) {
								resetearFormulario("uno");
								$(".trnuevo").show();
							}
						});

						$("#grabar")
								.click(
										function() {
											var p = obj;
											p.nombre = $("#nombre").val();
											p.nFiscal = $("#nFiscal").val();
											p.nota = $("#nota").val();
											p.accion = "I";
											$
													.post(
															"/nucleo/admin/clientes/",
															p,
															function(data) {
																if (data != null) {
																	newobject(
																			$("#trbuttons"),
																			'A',
																			data.obj)
																	resetearFormulario("uno");
																	$(
																			".trnuevo")
																			.hide();
																}
															}, "json");
										});

						$("#cancelar").click(function() {
							resetearFormulario("uno");
							$(".trnuevo").hide();
						});

						$(".tdelemento")
								.live(
										"click",
										function() {
											if ($("#idudp").length == 0
													&& !$(".trnuevo").is(
															":visible")) {
												var id = $(this).attr("id")
														.split("_")[1];
												var p = obj;
												for ( var i = 1; i <= cols; i++) {
													p[i - 1] = $(
															"#col" + i + "_"
																	+ id)
															.html();
												}
												limpiarFila(id);
												for ( var i = 1; i <= cols; i++) {
													newinput("#col" + i + "_"
															+ id, "udpcol" + i,
															"text", p[i - 1]);
													newinput("#col" + i + "_"
															+ id, "oldcol" + i,
															"hidden", p[i - 1]);
												}
												$("#udpcol4").attr("size", 3)
												updbottons(
														$(this).parent("tr"),
														cols);
												$("#idudp").val(id);
											}
										});

						$("#grabarudp")
								.live(
										"click",
										function() {
											var padre = "";
											var id = $("#idudp").val();
											var p = obj;
											p.id = id;
											p.nombre = $("#udpcol1").val();
											p.nFiscal = $("#udpcol2").val();
											p.nota = $("#udpcol3").val();
											p.accion = "A";
											$
													.post(
															"/nucleo/admin/clientes/",
															p,
															function(data) {
																limpiarFila(id);
																$("#col1_" + id)
																		.html(
																				data.obj.nombre);
																$("#col2_" + id)
																		.html(
																				data.obj.nFiscal);
																$("#col3_" + id)
																		.html(
																				data.obj.nota);
																$(".trudp")
																		.remove();
															}, "json");
										});

						$("#cancelarudp").live("click", function() {
							var id = $("#idudp").val();
							var p = obj;
							var padre = "";
							for ( var i = 1; i <= cols; i++) {
								p[i - 1] = $("#oldcol" + i).val();
							}
							limpiarFila(id);
							for ( var i = 1; i <= cols; i++) {
								$("#col" + i + "_" + id).html(p[i - 1]);
							}
							$(".trudp").remove();
						});

						$("input").live("click", function() {
							//return false;
						});

						$(".inhabilitado").live("click", function() {
							return false;
						});

						//doTimer();
					});
</script>
</head>
<body>
	<table align="center" class="tablaMsj">
		<tr id="inicio">
			<td align="right"><a id="volver" class="volver"
				href="{{ volver.url }}">{{ volver.nombre }}</a>&nbsp;<a id="alogin"
				class="logout" href="{{ url }}">{{ url_linktext }}</a></td>
		</tr>
	</table>
	<form action="#" id="uno">
		<table align="center" class="ppal">
			<tr>
				<td align="center" colspan="{{ cols }}">{{ titulo }}</td>
			</tr>
			<tr id="cabecera">
				<td align="center">Nombre</td>
				<td align="center">Nº Fiscal</td>
				<td align="center">Nota</td>
			</tr>
			<tr class="trnuevo" style="display: none;">
				<td><input name="nombre" id="nombre" type="text"
					style="width: 100%"></td>
				<td><input name="nFiscal" id="nFiscal" type="text"
					style="width: 100%"></td>
				<td><input name="nota" id="nota" type="text"
					style="width: 100%"></td>
			</tr>
			<tr id="trnuevo" class="trnuevo" style="display: none;">
				<td align="right" colspan="{{ cols }}"><a href="#" id="grabar"
					class="grabar">Grabar</a>&nbsp;<a href="#" id="cancelar"
					class="cancelar">Cancelar</a> <input name="id" type="hidden"
					id="id"></td>
			</tr>
			{% if arr %} {% for obj in arr %}
			<tr class="fila">
				<td class="tdelemento" id="col1_{{ obj.key.id }}">{{ obj.nombre }}</td>
				<td class="tdelemento" id="col2_{{ obj.key.id }}">{{ obj.nFiscal }}</td>
				<td class="tdelemento" id="col3_{{ obj.key.id }}">{{ obj.nota }}</td>
			</tr>
			{% endfor %} {% else %}
			<tr>
				<td align="center" colspan="{{ cols }}" align="center">No hay
					elementos</td>
			</tr>
			{% endif %}
			<tr id="trbuttons">
				<td colspan="{{ cols }}" align="right"><a href="#"
					class="nuevo">Nuevo</a></td>
			</tr>
		</table>
	</form>
</body>
</html>